footer{background-color: #0f2c4d;
    padding: 5%;
    display: flex;
    flex-direction:column;
    justify-content:center;
   
    
    div{
        border-top: 0.3px solid;
       border-color: #fff;
        
    }
    .copyright{
       
       
        .cop{
           
            padding: 2%;
            color: #fff;
            font-family: roboto;
            text-align: center;
        }
    }
}